header {

  .headerWrap {
    @apply grid grid-cols-3 p-10 items-center;

    .headerWrap__heading {
      @apply font-serif text-4xl text-center;
    }

    .headerWrap__subtitle {
      @apply underline decoration-4 decoration-oranges;
    }

    .headerIcon {
      border-radius: 20%;
      @apply h-12 w-12 cursor-pointer;

    }

    .darkMode {
      @apply flex justify-end items-center space-x-2;

      .darkModeBtn {
        @apply hidden md:inline bg-gray-700 text-white px-4 lg:px-8 py-2 lg:py-4
        rounded-full dark:bg-gray-600;
      }

    }
  }
}
