.formWrapper {
  @apply max-w-6xl mx-auto flex justify-between items-center
  px-5;

  .formInput {
    @apply w-full h-14 flex-1 rounded-sm placeholder-gray-500
    text-oranges outline-none bg-transparent dark:text-gray-500;
  }

  .formBtn {
    @apply text-oranges disabled:text-gray-500;
  }

}
