@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply max-w-6xl mx-auto;
  }

  .headerTitle {
    @apply text-4xl font-serif capitalize px-10 pt-5 underline decoration-orange-400 decoration-2 underline-offset-4 decoration-double;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  @apply bg-gray-300 dark:bg-zincs transition-all duration-700;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #e30b13;
}

.data-new-gr-c-s-check-loaded {
  display: none;
}

.data-gr-ext-installed {
  display: none;
}

//стили для инпутов
input[type='file'],
input[type='file']::-webkit-file-upload-button {
  @apply cursor-pointer focus:outline-none;
}

input:focus {
  box-shadow: none !important;
}

