.wrapper {
  @apply bg-gray-500 dark:border-x-gray-800 flex flex-col
  rounded-lg shadow-sm hover:scale-105 hover:shadow-lg
  hover:bg-gray-300 transition-all duration-200 ease-out;

  .article__img {
    @apply h-56 w-full object-cover rounded-t-lg shadow-md;
  }

  .wrap_typography {
    @apply flex-1 flex-col flex;

    .wrap_typography__heading {
      @apply flex-1 flex-col flex p-5;
    }

    .wrap_typography__heading__title {
      @apply font-bold font-serif;
    }

    .section_typography {
      @apply mt-2 flex-col;

      p {
        @apply text-xs line-clamp-6;
      }
    }

    .footer {
      @apply text-xs text-right ml-auto flex space-x-1 pt-5 italic text-gray-500;
    }
  }
}


