
.articlePageWrapper {
  height: 72vh;

  .articlePageSection {
    @apply flex flex-col lg:flex-row pb-24 px-0 lg:px-10;

    .articlePage__img {
      @apply h-52 max-w-md mx-auto md:max-w-lg lg:max-w-xl
      object-cover rounded-lg shadow-md;
    }

    .articlePageAuthorWrapper {
      @apply px-10;

      .articlePageTitle {
        @apply text-4xl font-serif capitalize px-10 pt-5
        underline decoration-oranges decoration-2 underline-offset-4
        decoration-double px-0 no-underline pb-2;
      }

      .articlePageSubscribeWrapper {
        @apply flex divide-x-2 space-x-4;

        .articlePageAuthor {
          @apply font-bold;
        }

        .articlePageSource {
          @apply font-bold pl-4;
        }

        .articlePagePublished {
          @apply pl-4;
        }
      }

      .articlePageDescription {
        @apply pt-4;
      }
    }
  }
}

